body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    border-radius: 5%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
.header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}
.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.option {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.option:hover {
    border-color: #aaa;
}
.option.selected {
    border-color: #537EF1;
}
.option img {
    background-color: beige;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 25%;
}
.option-text {
    font-size: 18px;
    color: #444;
}
.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #006687;
}
.button2{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f8f8f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button2:hover {
    background-color: #363636;
}
